<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-zinc-900">
    <div class="main w-full min-h-screen px-2 ">
        <% data.forEach((datas) => { %>
            <div>
                <div class="w-fill bg-zinc-800 m-2 py-3 px-4 text-center text-green-500 mb-4 text-4xl text-bold rounded-md shadow-md shadow-gray-500/30 hover:shadow-blue-500/30">
                    <span class="font-bold font-mono tracking-wider bg-gradient-to-r from-green-500 to-emerald-400 bg-clip-text text-transparent hover:from-emerald-400 hover:to-green-500 transition-all duration-300"><%= datas.title %></span>
                </div>
                <div class="w-full p-6 bg-zinc-800 text-green-400 rounded-lg shadow-lg shadow-green-500/20 hover:shadow-blue-500/30 transition-all duration-300 min-h-[200px] border border-green-500/10 backdrop-blur-sm">
                    <h2 class="font-mono text-3xl text-center leading-relaxed tracking-wide">
                        <%= datas.content %>
                    </h2>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>