<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body >
    <div class="flex justify-center items-center min-h-screen bg-zinc-800">
        <form class="flex flex-col space-y-6 p-6 rounded-lg w-1/3 bg-zinc-900 shadow-xl" action="/edit/<%= editTask %>.txt" method="POST">
          <input
            type="text"
            readonly
            class="block mt-3 bg-zinc-700 text-2xl font-bold text-zinc-300 w-full px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500 transition"
            name="previous"
            id=""
            value="<%= editTask.split("-").join(" ") %>"
          />
          <input 
            class="block bg-zinc-700 text-2xl text-white w-full px-3 py-2 rounded-lg  resize-none focus:outline-none focus:ring-2 focus:ring-green-500 transition" 
            name="newTitle" 
            id="" 
            placeholder="Enter your note here"
          ></input>
          <input 
            type="submit" 
            value="Edit Title" 
            class="bg-green-600 text-lg hover:bg-lime-800 duration-200 text-white font-semibold py-2 px-3 rounded-lg transition cursor-pointer"
          />
        </form>
    </div>

</body>
</html>